/* 
Website color scheme
#00568c, 
#008e66, 
#ffffff, 
#000000,
#3d3d3d 
*/

/* Font class rules */
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.faculty-glyphic-regular {
  font-family: "Faculty Glyphic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Regular styling */
* {
    margin: 0px;
    padding: 0px;
}

.nav {
    position: sticky;
    top: 0;
    overflow: visible;
    display: flex;
    width: 100%;
    background-color: #00568c;
    z-index: 10;
}

.navLink {
    color: white;
    text-decoration: none;
    padding: 50px;
    font-size: 20px;
    padding-top: 45px;
}

#programTitle {
    padding-left: 50px;
    padding-top: 40px;
    font-size: 30px;
    color: white
}

#logo {
    width: 70px;
    padding-left: 10%;
    padding-top: 20px;
}

h1 {
    font-size: 80px;
}

h1, h3 {
    color: white;
}

#home {
    text-align: center;
    background-image: radial-gradient(#008e66, #00568c);
    height: 320px;
    line-height: 100px;
    border-top: 1px solid white;
}

#explore {
    height: 70px;
    width: 240px;
    border: none;
    border-radius: 35px;
    background-color: white;
    color: #00568c;
    font-size: 20px;
}

.servicesContainer {
    display: flex;
    column-gap: 30px;
    justify-content: center;
}

.service {
    width: 350px;
    height: 170px;
    margin-top: 100px;
    margin-bottom: 100px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.6);
    border: 3px transparent #008e66;
    border-radius: 20px;
}

.service:hover {
    border: 3px solid #008e66;
    transition: border 0.2s;
} 

#servicesHeader {
    color: #00568c;
    text-align: center;
    margin-top: 80px;
    font-size: 50px;
}

.serviceLabel {
    color: #00568c;
    text-align: center;
    margin-top: 20px;
}

.serviceText {
    color: #00568c;
    text-align: center;
    margin-top: 15px;
}

.serviceUnderline {
    width: 74%;
    background-color: #008e66;
    height: 3px;
    margin-left: 13%;
}

.technologyGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-top: 5rem;
}

#technologyHeader {
    color: #00568c;
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: -65px;
}

#technologyText {
    color: #008e66;
    margin-top: 65px;
    margin-left: 37%;
    height: 20px;
}

#techUnderline {
    width: 34%;
    margin-left: 33%;

}

.stackItem {
    background: linear-gradient(-45deg, #00568c, #008e66);
    width: 20%;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 1rem;
    margin: auto;
    border-radius: 10px;
}

#portfolioHeader {
    color: #00568c;
    text-align: center;
    font-size: 50px;
    margin-top: 160px;
}

footer {
    height: 100px;
    width: 100%;
    background-color: #3d3d3d;
}