/* 
Website color scheme
#00568c, 
#008e66, 
#ffffff, 
#000000,
#3d3d3d 
*/

/* Font class rules */
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.faculty-glyphic-regular {
  font-family: "Faculty Glyphic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Monitor screen styles */
* {
    margin: 0px;
    padding: 0px;
}

header {
    overflow: visible;
}

.nav {
    position: fixed;
    top: 0;
    overflow: visible;
    display: flex;
    width: 100%;
    background-color: #00568c;
    z-index: 10;
}

.navLink {
    color: white;
    text-decoration: none;
    padding: 50px;
    font-size: 20px;
    padding-top: 45px;
}

#programTitle {
    padding-left: 50px;
    padding-top: 40px;
    font-size: 30px;
    color: white
}

#logo {
    width: 70px;
    padding-left: 10%;
    padding-top: 20px;
}

h1 {
    font-size: 80px;
}

h1, h3 {
    color: white;
}

#home {
    text-align: center;
    background-image: radial-gradient(#008e66, #00568c);
    height: 320px;
    line-height: 100px;
    border-top: 1px solid white;

}

.space {
    width: 100%;
    height: 118px;
    background-color: #008366;
}

#explore {
    height: 70px;
    width: 240px;
    border: none;
    border-radius: 35px;
    background-color: white;
    color: #00568c;
    font-size: 20px;
}

.servicesContainer {
    display: flex;
    column-gap: 30px;
    justify-content: center;
}

.service {
    width: 350px;
    height: 170px;
    margin-top: 100px;
    margin-bottom: 100px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.6);
    border: 3px transparent #008e66;
    border-radius: 20px;
}

.service:hover {
    border: 3px solid #008e66;
    transition: border 0.2s;
} 

#servicesHeader {
    color: #00568c;
    text-align: center;
    margin-top: 80px;
    font-size: 50px;
}

.serviceLabel {
    color: #00568c;
    text-align: center;
    margin-top: 20px;
}

.serviceText {
    color: #00568c;
    text-align: center;
    margin-top: 15px;
}

.serviceUnderline {
    width: 74%;
    background-color: #008e66;
    height: 3px;
    margin-left: 13%;
}

.technologyGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-top: 5rem;
}

#technologyHeader {
    color: #00568c;
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: -65px;
}

#subheading{
    color: #008e66;
    margin-top: 65px;
    text-align: center;
    height: 20px;
}

.subheading {
    color: #008366;
    text-align: center;
}

#techUnderline {
    width: 34%;
    margin-left: 33%;
}

.stackItem {
    background: linear-gradient(-45deg, #00568c, #008e66);
    width: 20%;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 1rem;
    margin: auto;
    border-radius: 10px;
}

#portfolioHeader {
    color: #00568c;
    text-align: center;
    font-size: 50px;
    margin-top: 160px;
    margin-bottom: 50px;
}

.demoHeading {
    color: #00568c;
    margin-left: 41%;
}

.animationBox {
    background-color: #00568c;
    width: 140px;
    height: 140px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 70px;
    transition: 1s;
}

.animationBox:hover {
    background-color: #008366;
    border-radius: 80px;
    transition: 1s;
    rotate: 360deg;
}

#visibilityHeading {
    margin-left: 43%;
}

.demoButton {
    background-image: linear-gradient(to right, #008366, #00568c);
    border-radius: 5px;
    color: white;
    margin-left: 46.7%;
}

#demoDiv {
    background-color: #00568c;
    width: 26%;
    height: 40px;
    text-align: center;
    color: white;
    padding: 20px;
    margin-top: 20px;
    margin-left: 35.8%;
}

#boxModelHeading {
    margin-left: 42.6%;
    margin-top: 70px;
}

.boxDemo {
    color: white;
    background-color: #00568c;
    text-align: center;
    border: 6px solid #008366;
    padding: 20px;
    margin: 20px auto;
    max-width: 26%;
    transition: all 1s ease;
}

.boxDemo:hover {
    margin: 40px auto;
    padding: 40px;
    border-width: 12px;
}

.googleMap {
    margin-top: 90px;
}

#map {
    margin-left: 30%;
    margin-top: 10px;
    border: 3px #00568c solid;
}

.advancedCSS {
    margin-top: 80px;
}

#advancedCSSHeading {
    color: #00568c;
    text-align: center;
}

.cssItem {
    text-align: center;
    color: #00568c;
}

#contact {
    margin-bottom: 150px;
}

#contactHeader {
    color: #00568c;
    text-align: center;
    margin-top: 100px;
    font-size: 50px;
    margin-bottom: 30px;
}

#contactSubheading {
    margin-bottom: 30px;
}

footer {
    height: 150px;
    width: 100%;
    background-color: #3d3d3d;
    text-align: center;
    padding-top: 90px;
}

.footerText {
    color: white;
}

/* Tablet screen styles */
@media screen and (max-width: 920px) {
    .space {
        height: 54px;
    }
    
    .navLink {
        font-size: 12px;
        padding: 20px;
    }
    
    #programTitle {
        font-size: 18px;
        margin-top: -23px;
    }

    #title {
        padding-left: 50px;
    }

    #logo {
        width: 40px;
        margin-top: -18px;
    }

    h1 {
        font-size: 45px;
    }

    #heroText {
        font-size: 15px;
    }

    .serviceLabel {
        font-size: 18px;
    }

    .serviceText {
        font-size: 15px;
    }

    .demoHeading {
        margin-left: 34%
    }

    #visibilityHeading {
        margin-left: 38%;
    }

    .demoButton {
        margin-left: 44.5%;
    }

    #demoDiv {
        height: 80px;
        margin-left: 35%;
    }

    #boxModelHeading {
        margin-left: 38%;
    }

    #iFrameHeading {
        margin-left: 35%;
    }

    #map {
        width: 50%;
        margin-left: 25%;
    }
}

/* Smartphone screen styles */
@media screen and (max-width: 500px) {
    .servicesContainer {
        display: grid;
        grid-template-columns: 1fr;
    }

    #programTitle {
        display: none;
    }

    h1 {
        font-size: 30px;
    }

    #heroText {
        line-height: 40px;
    }

    .service {
        margin-left: 15%;
    }

    .stackItem {
        width: 160px;
    }

    #animationHeading {
        margin-left: 23%;
    }

    #visibilityHeading {
        margin-left: 29%;
    }

    .demoButton {
        margin-left: 40.5%;
    }

    #demoDiv {
        height: 110px;
        margin-left: 32.5%;
    }

    #boxModelHeading {
        margin-left: 28%;
    }

    #iFrameHeading {
        margin-left: 20%;
    }
}